

.item{
    width: 100px;
    height: 100px;
    display: inline-block;
}

#drag-Elem1{
    background-color: magenta;
}

#drag-Elem2{
    background-color: yellow;
}


#drag-Elem3{
    background-color: blueviolet;
}

#drag-Elem4{
    background-color: rgb(0, 146, 32);
}

#drag-Elem5{
    background-color: rgb(226, 43, 43);
}


#drop-Elem{
    background-color: cadetblue;
    width: 500px;
    height: 400px;
    float: right;
}

.upload-area{
    margin: 0 auto;
    width: 500px;
    height: 400px;
    background-color: yellowgreen;
    border-radius: 10px;
    border: 2px dotted black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.upload-area i{
    font-size: 50px;
    color: gray;
    display: block;
    cursor: pointer;
}


.img{
    width: 100px;
    height: 100px;
}


.img img{
    width: 100%;
}


